# Dependências
/node_modules
/.pnp
.pnp.js

# Produção
/build
/.next/
/out/

# Variáveis de ambiente
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
*.tgz

# IDE
.vscode/
.idea/

# Sistema Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Arquivos de usuário
NTUSER.DAT*
ntuser.ini
*.log

# Diretórios de sistema
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Documents/Meus Vídeos/
Documents/Minhas Imagens/
Documents/Minhas Músicas/
Menu Iniciar/
Meus Documentos/
Modelos/
Recent/
SendTo/

# Outros
.netlify
.vercel
