# Dependências
node_modules/
npm-cache/
.yarn/

# Produção
build/
dist/

# Next.js
.next/
out/

# Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Backup
backup/
backup-*
*-backup/

# Temporários
tmp/
temp/
*.tmp
*.temp

# Outros
*.tar.gz
*.zip

# Diretórios de sistema do Windows (para evitar problemas de permissão)
AppData/
Ambiente de Impressão/
Ambiente de Rede/
Configurações Locais/
Cookies/
Dados de Aplicativos/
Documents/Meus Vídeos/
Documents/Minhas Imagens/
Documents/Minhas Músicas/
Menu Iniciar/
Meus Documentos/
Modelos/
Recent/
SendTo/
